<ul class="nav" role="menu">
      <li class="nav-home" role="menuitem"><a href="{{ site.baseurl }}">首页</a></li>
      <li class="nav-blogs" role="menuitem"><a href="{{ site.baseurl }}tag/reading-notes">读书笔记</a></li>
      <li class="nav-about" role="menuitem"><a href="{{ site.baseurl }}tag/summary">周报</a></li>
      <li class="nav-try-ghost" role="menuitem"><a href="#">测试学习笔记</a></li>
      <li class="nav-getting-started" role="menuitem"><a href="{{ site.baseurl }}tag/">索引</a></li>
      <li class="nav-getting-started" role="menuitem"><a href="{{ site.baseurl }}about/">关于</a></li>
      
</ul>